<%= form_for(itemm) do |f| %>
  <% if itemm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itemm.errors.count, "error") %> prohibited this itemm from being saved:</h2>

      <ul>
      <% itemm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :capital %>
    <%= f.text_field :capital %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
