<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @itemm.state %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @itemm.capital %>
</p>

<%= link_to 'Edit', edit_itemm_path(@itemm) %> |
<%= link_to 'Back', itemms_path %>
